- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
    %section.stats
      = render 'shared/stats'
  .col-md-8.content
    = render 'follow_form' if logged_in?
    - if @user.miniposts.any?
      %h3
        Miniposts (#{@user.miniposts.count})
      %ol.miniposts
        = render @miniposts
      = will_paginate @miniposts
