%li{:id => "minipost-#{minipost.id}"}
  = link_to gravatar_for(minipost.user, options: { size: 50 }), minipost.user
  %span.user= link_to minipost.user.name, minipost.user
  %span.content= minipost.content
  = image_tag minipost.picture.url if minipost.picture?
  %span.timestamp
    Posted #{time_ago_in_words(minipost.created_at)} ago.
    - if current_user?(minipost.user)
      = link_to "delete", minipost, method: :delete, data: { confirm: "You sure?" }
