%header
  %nav.navbar.navbar-expand-lg.navbar-fixed-top.navbar-inverse.navbar-dark.bg-dark
    .container
      = link_to "sample app", :home, id: "logo", class: 'navbar-brand'
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.mr-auto
          %li.nav-item= link_to "Home", :home, class: 'nav-link'
          %li.nav-item= link_to "Help", :help, class: 'nav-link'
          - if logged_in?
            %li.nav-item= link_to "Users", '#', class: 'nav-link'
            %li.nav-item.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class => 'nav-link dropdown-toggle'}
                Account
              %ul.navbar-nav.dropdown-menu.bg-dark
                %li.dropdown-item= link_to "Profile", current_user, class: 'nav-link'
                %li.dropdown-item= link_to "Settings", '#', class: 'nav-link'
                %li.dropdown-divider
                %li.dropdown-item= link_to "Log out", :logout, method: :delete, class: 'nav-link'
          - else
            %li.nav-item= link_to "Log in", :login, class: 'nav-link'   
